*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


body{
    background-color: #ebebeb
}
.row{
    margin-top: 4% !important;
}
.login{
    height: 50px;
    border-radius: 30px;
}
h2{
    margin: 30px;
    text-shadow: 2px 2px 5px red;
    color: rgba(39, 41, 40, 0.996);
}
.submit{
     background-color: #059efd;
}